body text{
  font: 10px "Helvetica-Light";
}

div {
  font: 12px "Helvetica-Light";
}
.axis text {
  font: 6px "Helvetica-Light";
}

.y.axis text {
  font: 8px "Helvetica-Light";
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path
{
  display: none;
}
.y.axis path
{
  display: none;
}

.retailline {
  fill: none;
  stroke: #0066cc;
  stroke-width: 1.5px;
}

.farmline {
  fill: none;
  stroke: #cc6600;
  stroke-width: 1.5px;
}

.percentline {
  fill: none;
  stroke: #339966;
  stroke-width: 1.5px;
}

.rule {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.interactive {
  fill: white;
  fill-opacity: 0.1;
}

.title text
{
  font-size: 36px;
}

.infogroup text
{
  font-size: 12px;
}

.legendgroup text
{
  font-size: 12px;
}
